<p> Link are not working because the Backend was not connected</p>
<p> Demo Page</p>


<button type="button" class="btn btn-primary" routerLink="/feed" >Feed/button>
<button type="button" class="btn btn-primary" routerLink="/post" >Post</button>
<button type="button" class="btn btn-primary" routerLink="/signin" >Signin</button>
<button type="button" class="btn btn-primary" routerLink="/signup" >Signup</button>
<button type="button" class="btn btn-primary" routerLink="/event" >Event</button>
<button type="button" class="btn btn-primary" routerLink="/shop" >Shop</button>